$site-text-color: #4a4a4a;
$black-third: $site-text-color;

$site-blue: #0079ff;
$blue-third: $site-blue;
$icons-color: $site-blue;

// Colors
$gray: gray;
$white: #ffffff;
$white-second: #f9f9f9;
$bg-color: #fafafe;
$white-third: #dfe1e7;
$white-fourth: #eee;
$white-fifth: #fbe9e7;
$white-sixth: #dfe3e9;
$white-seventh: #ced4da;
$white-eighth: #e7e9ea;
$white-ninth: #b8b8b8;
$white-tenth: #f0f4ff;
$white-eleventh: #999;
$white-twelfth: #ebf7fb;
$white-thirteenth: #e1edfe;
$white-fourteenth: #d2d3d3;
$white-fifteenth: #e4e4e4;

$black: #000000;
$black-second: #4a4a4a;
$black-fourth: #323232;
$black-fifth: #222;

$gray: #aaa;
$gray-second: #cccccc;
$gray-light: #dddddd;
$gray-lighter: #666666;
$gray-more-light: #808080;
$gray-third: #e6eaee;
$gray-fourth: #d8d8d8;
$gray-fifth: #bcbdbe;
$gray-bluish: #495057;
$blue: #348ff1;
$blue-main: #0000ff;
$blue-second: #3b99fc;
$blue-fourth: #3d67e4;
$blue-fifth: #439de6;
$blue-sixth: #0056b3;
$blue-seventh: #007bff;
$blue-eighth: #005aff;
$blue-ninth: #0098cd;
$blue-tenth: #7895ec;
$blue-eleventh: #30b9fd;
$blue-twelfth: #306bfd;
$blue-thirteenth: #4ae2ea;
$blue-fourteenth: #3c5fe3;
$blue-sixteenth: #4e95f4;
$blue-seventeenth: #306efd;

$blue-dark: #354052;
$blue-light: #7f8fa4;

$primary-color: #4dbdfe;

$cyan-one: #29cbe7;

$font-color: #2d3649;

$red: #ff0000;
$red-second: #d84315;
$red-third: #f08463;
$red-fourth: #ff6d4a;
$red-fifth: #aa3510;
$red-sixth: #d7073a;

$green-one: #2db035;
$green-two: #537535;

$violet-one: #8938b9;

$yellow-one: #a78a21;
$yellow-two: #f3e7bb;
$light-greyish: #f7f7f7;
$border-radius: 6px;

$font-weight-label: 500;
